{% extends "templates/base.html" %}

{% block content %}
<!-- Include navbar explicitly -->
{% include "templates/includes/navbar/navbar.html" %}

<!-- Include breadcrumbs -->
<div class="page-content-wrapper">
    <div class="page-breadcrumbs">
        {% include 'templates/includes/breadcrumbs.html' %}
    </div>

    <main class="container my-4">
        <div class="page_content">
            <div class="project-management-container">
                
                {% include "smart_accounting/www/project_management/includes/header.html" %}

                {% include "smart_accounting/www/project_management/includes/table.html" %}

                {% include "smart_accounting/www/project_management/includes/footer.html" %}
                
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block script %}
<!-- Load modules in dependency order -->
<script src="/assets/smart_accounting/js/utils.js"></script>
<script src="/assets/smart_accounting/js/engagement.js"></script>
<script src="/assets/smart_accounting/js/project.js"></script>
<script src="/assets/smart_accounting/js/reports.js"></script>
<script src="/assets/smart_accounting/js/editors.js"></script>
<script src="/assets/smart_accounting/js/person-selector.js"></script>
<script src="/assets/smart_accounting/js/software-selector.js"></script>
<script src="/assets/smart_accounting/js/workspace.js"></script>
<script src="/assets/smart_accounting/js/subtask.js"></script>
<script src="/assets/smart_accounting/js/ui/table.js"></script>
<script src="/assets/smart_accounting/js/ui/modal.js"></script>
<script src="/assets/smart_accounting/js/ui/filters.js"></script>
<script src="/assets/smart_accounting/js/main.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/assets/smart_accounting/css/common.css">
<link rel="stylesheet" href="/assets/smart_accounting/css/workspace.css">
<link rel="stylesheet" href="/assets/smart_accounting/css/reports.css">
<link rel="stylesheet" href="/assets/smart_accounting/css/engagement.css">
<link rel="stylesheet" href="/assets/smart_accounting/css/project_management.css">
<link rel="stylesheet" href="/assets/smart_accounting/css/enhanced_workspace.css">
<link rel="stylesheet" href="/assets/smart_accounting/css/subtask.css">
{% endblock %}