{% extends "templates/web.html" %}

{% block page_content %}
{% if project_data.is_main_dashboard or project_data.is_workspace_view %}
<script>document.body.classList.add('main-dashboard-view');</script>
{% endif %}
<div class="project-management-container">
    
    {% include "smart_accounting/www/project_management/includes/header.html" %}

    {% include "smart_accounting/www/project_management/includes/table.html" %}

    {% include "smart_accounting/www/project_management/includes/footer.html" %}
    
</div>
{% endblock %}

{% block script %}
<!-- Load modules in dependency order -->
<script src="/assets/smart_accounting/js/utils.js"></script>
<script src="/assets/smart_accounting/js/engagement.js"></script>
<script src="/assets/smart_accounting/js/project.js"></script>
<script src="/assets/smart_accounting/js/reports.js"></script>
<script src="/assets/smart_accounting/js/editors.js"></script>
<script src="/assets/smart_accounting/js/person-selector.js"></script>
<script src="/assets/smart_accounting/js/software-selector.js"></script>
<script src="/assets/smart_accounting/js/workspace.js"></script>
<script src="/assets/smart_accounting/js/subtask.js"></script>
<script src="/assets/smart_accounting/js/ui/table.js"></script>
<script src="/assets/smart_accounting/js/ui/modal.js"></script>
<script src="/assets/smart_accounting/js/ui/filters.js"></script>
<script src="/assets/smart_accounting/js/main.js"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/assets/smart_accounting/css/common.css">
    <link rel="stylesheet" href="/assets/smart_accounting/css/workspace.css">
    <link rel="stylesheet" href="/assets/smart_accounting/css/reports.css">
    <link rel="stylesheet" href="/assets/smart_accounting/css/engagement.css">
    <link rel="stylesheet" href="/assets/smart_accounting/css/project_management.css">
    <link rel="stylesheet" href="/assets/smart_accounting/css/enhanced_workspace.css">
    <link rel="stylesheet" href="/assets/smart_accounting/css/subtask.css">
{% endblock %}